body{
  font-family: 'Space Grotesk', sans-serif;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.container {
  /* Used to position the video and content */
  position: relative;
}

.container__wrapper {
  /* Positioned at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;

  /* Hide the scrollbar */
  overflow: hidden;
}

.container__video {
  object-fit: cover;

  /* Center the video */
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Take full width */
  width: 100%;
}

.container__content {
  /* Positioned at the top left corner */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;

  /* Center the content */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h2{
  position: relative;
  text-align: center;
  font-size: 90px;
  background: rgba(0, 0, 0, 0.5);
}

b{
  color: white;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.container2 {
  height: 1100px;
  left: 50%
  position: absolute;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
