*{
  font-family: 'JetBrains Mono', monospace;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  background-color: rgba(12,3,51,0.3)
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  text-align: center;
}

.image{
  position: relative;
  width: 300px;
  margin-left: 40px;
  margin-right: 5px;
  margin-top: 100px;

}

.image__img{
  display: flex;
  width: 100%;
  height: 225px
}

.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .55s ease;
}

.image__overlay--blur{
  backdrop-filter: blur(2px);
}

.image__overlay > *{
  transform: translateY(20px);
  transition: transform .55s;
}

.image__overlay:hover{
  opacity: 1
}

.image__overlay:hover > *{
  transform: translateY(0px);
}

.image__title{
  font-size: 2em;
  font-weight: bold;

}

.image__description{
  font-size: 1.25em;
  margin-top:0.95em;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: yellow;
}

.content{
  text-align: center;
}

.content a{
  text-decoration: none;
  display: inline-block;
  color:#fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.5s;
}
.content a:hover{
  -webkit-text-size-adjust: 2px #fff;
  color: black;
  background-color: #e7e7e7
